server:
  port: 8080

spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://host.docker.internal:5432/aichat?sslmode=disable}
    username: ${DB_USER:postgres}
    password: ${DB_PASS:123456}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
